<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit User</title>
</head>
<body>
	<form th:object="${userToUpdate}" th:action="@{/update-user/{id}(id=${userToUpdate.id})}" method="POST">
		Name: <input name="displayName" size="20" th:field="*{displayName}"><br/>
		Email: <input name="email" size="40" th:field="*{email}"><br/>
		Password: <input name="password" size="20" th:field="*{password}"><br/>
		<input name="submit" type="submit" value="Save Changes"/><br/>
	</form>
	<a href="/">Return Home</a>
</body>
</html>