<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Service Desk Portal</title>
</head>
<body>
	<form th:object="${newRequest}" th:action="@{/inputRequest}" method="POST">
		Subject: <input name="subject" size="20"><br/>
		Request Type: 
		<select name="requestType">
			<option value="Bug">Bug</option>
			<option value="Feature">Feature</option>
			<option value="Other">Other</option>
		</select><br/>
		Description:<br/>
		<textarea name="description" rows="4" cols="50"></textarea><br/>
		<input name="submit" type="submit" value="Create Request"/><br/>
	</form>
	<a href="/">Return Home</a>
</body>
</html>