<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="js/check-form.js" th:src="@{/js/check-form.js}"></script>
<title>Update Password</title>
</head>
<body>
	<form th:object="${userToUpdate}" th:action="@{/update-user/{id}(id=${userToUpdate.id})}" method="POST" onsubmit="return checkPasswordForm(this)">
		<input type="hidden" name="id" th:field="*{id}">
		<input type="hidden" name="displayName" th:field="*{displayName}">
		<input type="hidden" name="email" th:field="*{email}">
		<input type="hidden" name="currentpassword" th:value="*{password}">
		Old Password: <input type="password" name="oldpassword" size="20"><br/>
		New Password: <input type="password" name="password" size="20"><br/>
		Verify Password: <input type="password" name="verifypassword" size="20"><br/>
		<input name="submit" type="submit" value="Change Password"/><br/>	
	</form>
</body>
</html>